@use 'vars' as v;
@use 'extends';
@use 'mixins' as m;
@use 'fonts';
@use 'media';



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    min-height: 100vh;
    font-size: v.$main-font-size;
    font-family: v.$main-font-family;
    font-size: v.$main-font-size;
}
.container{
    max-width: v.$container-width;
    margin: 0 auto;
    @media screen and (max-width: 1200px){
        max-width: 960px;
    }
    
    }


.btn{
    @include m.button;
    @include m.typography(18, 1.6, 500, 'Montserrat');
    &--primary{
         @extend %btn-primary;
         margin-left: auto;  
    }
    &--pink{
        @include m.btn-unique(#F063B8, #fff, #EB4BAB);
     }
     &--violet{
         @include m.btn-unique(#9C69E2, #fff, #8A40EE);
     }   
         

}

.header{
    min-height: 100px;
    padding: 37px 0;
    margin-bottom: 100px;
   position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  @media screen and (max-width: 1200px){
        padding: 30px 0;
    }

}
 
   

.header__logo img {
    display: block;
}
.flex-container{
    height: 100%;
    display: flex;
   align-items: center;
    
}

.nav{
    margin-left: 120px;
    

    
    &__list{
        font-weight: 500;
        display:flex;
        gap: 40px;
        list-style: none;
    }
    &__link{
        
        text-decoration: none;
        padding-left: 0;
        color: v.$main-text-color;
        &:hover{
            color: v.$links-color;
        }
    }
}

.hero{
    margin-bottom: 100px;
    &__inner{
        position: relative;
    }
    &__content{
        position: absolute;
    }
    &__heading{
        max-width:600px;
        color: v.$heading-color;
        @include m.typography(80, 1.1, 700, 'Work Sans');
    }
    &__text{
        max-width: 370px;
        @include m.typography(18, 1.6, 500, 'Montserrat');
        margin-top: 50px;
        margin-bottom: 50px;
        color: v.$paragraph-color;
    }
   
    &__image{
         max-width: 770px;
    width: 100%;
    margin-left: auto;
    padding-top: 82px;
        .hero__image img {
    max-width: 100%;
  height: auto;
}
    }
    

}
.intro{
    margin-bottom: 120px;
    &__inner{
        background-color: #FDE8F5;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 130px;
        padding: 75px 70px;
    }
    &__image{
        width:400px;
        height: 410px;
    }

    &__heading{
        color: v.$heading-color;
        padding-bottom: 40px;
        @include m.typography (40, 1.3, 700, 'Work Sans');
    }
    &__text{
        color: v.$paragraph-color;
        @include m.typography (18, 1.6, 500, 'Montserrat');
        
    }
}
.features{
    margin-bottom: 120px;
    &__heading{
        text-align: center;
        color: #212353;
         @include m.typography (40, 1.3, 700, 'Work Sans');

    }
    &__title{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 50px;
        margin-bottom: 80px;
    }
    &__text{
        width: 638px;
        color: #4B5D68;
         @include m.typography (18, 1.6, 400, 'Montserrat');
    }
    &__flex-container{
         display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 45px;
  column-gap: 20px;
    }
}
.feature{
    &__card{
        position: relative;
        display: flex;
        align-items: center;
        &-wrapper{
            width: 230px;
            min-height: 275px;
             margin-left: auto;
             display: flex;
             flex-direction: column;
             justify-content: center;
             gap:20px;
             margin-right: 70px;
             z-index: 2;
            
             
        }

         &-image{
            width: 240px;
            height: 180px;
            position: absolute;
            z-index: 3;
            
         }
          &-image img{
            width: 100%;
            
          }
          
          &-content{
             position: relative;
            width:400px;
            min-height: 400px;
            margin-left: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 1;
            
        
            
            &--first{
                @include m.card(#F0FAF9, 15, 60px, 195px, 140px, (url('../assets/img/feature-bg-image1.png')));  
            }
            &--second{
                @include m.card(#F6F0FD, 230, 20px, 211px, 151px, (url('../assets/img/feature-bg-image2.png')));
            }
            &--third{
                @include m.card(#FEF0F8, 20, 20px, 65px, 51px, (url('../assets/img/feature-bg-image3.png')));
            }
            &--fourth{
                @include m.card(#EAF6FC, 20, 20px, 360px, 360px, (url('../assets/img/feature-bg-image4.png')));

            }

          }
          &-heading{
            color: v.$heading-color;
            @include m.typography(24, 1.3, 400, 'Work Sans');

          }
          &-text{
            width: 230px;
            height: 180px;
            color: v.$paragraph-color;
             @include m.typography(16, 1.6, 400, 'Montserrat');
          }
          &-link{
            @extend %link;
            @include m.typography(16, 1.6, 700, 'Montserrat');
            
            
            &:hover{
                transform: rotate(5deg) translateY(-3px) scale(1.1);
  transition: transform 0.3s ease;

            }
          }
    }
}
.testim{
    margin-bottom: 120px;
    &__inner{
        position: relative;
        padding: 80px 70px;
        min-height: 580px;
        background-color: #CCDDFF;
        border-radius: 50px;
        > * {
    position: relative;
    z-index: 1; 
  }
        &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: url('../assets/img/testimonials-bg-image.png') no-repeat center / cover;
    
  }
  
        
    }
    &__title{
        @include m.typography(40, 1.3, 700, 'Work Sans');
        color: #4B5D68;
        text-align: center;
        
    }
    &__wrapper{
        display: flex;
       gap: 100px;
    }
    &__profile{
        display: flex;
        gap: 15px;
        padding: 50px 30px;
        border: 1px solid #9C69E2;
        border-radius: 50px;
        background-color: #fff;
        margin-top: 80px;
        
        &-photo{
            width:90px;
            height: 90px;
            border-radius: 50%;
        }
        &-link{
            display:block;
            margin-top: 2px;
            margin-bottom: 20px;
            text-decoration: none;
            color: #9C69E2;
            @include m.typography(14, 1.6, 400, 'Montserrat');
        }
        &-heading{
             @include m.typography(16, 1.6, 500, 'Montserrat');
        }
        &-text{
            @include m.typography(16, 1.6, 400, 'Montserrat');
            color: v.$paragraph-color;
        }
        

    }
}
.footer{
    margin-bottom: 120px;
    &__cta{
        margin-bottom: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    &__title{
         @include m.typography(40, 1.3, 700, 'Work Sans');
         color: v.$heading-color;   
         padding-bottom: 20px;
    }
    &__text{
         @include m.typography(18, 1.6, 500, 'Montserrat');
         color: v.$paragraph-color;
          }
    &__cta-buttons{
        display: flex;
        gap: 30px;
    }
    &__main{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        margin-bottom: 100px;
      
        &-title{
             @include m.typography(16, 1.6, 600, 'Montserrat');
             color: v.$heading-color; 
             margin-bottom: 30px;

        }
    }
    &__info{
        &-heading{
            display: flex;
            gap: 20px;
            align-items: center;
            margin-bottom: 40px;
        }
        &-title{
            @include m.typography(20, 1.6, 600, 'Montserrat');
            color: v.$heading-color;
        }
        &-contacts{
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        &-address{
            font-style: normal;
            @include m.typography(16, 1.8, 500, 'Montserrat');
        }
        &-email, &-phone{
            text-decoration: none;
            color: v.$paragraph-color;
             &:hover{
                color: v.$links-color;
            }
        }
    }
    &__nav{
        &-list{
            display: flex;
            flex-direction: column;
            gap: 10px;
            list-style: none;
        }
        &-link{
            text-decoration: none;
            color: v.$paragraph-color;
            &:hover{
                color: v.$links-color;
            }
        }
    }
    &__social{
        &-list{
            list-style: none;
            display: flex;
            gap: 15px;
        }
       
        &-link{
            display: flex; 
            justify-content: center;
            align-items: center;
            border: 1px solid #d2d2d7;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            background-color: #d2d2d7;
            color: #fff;
            &--blue{
                @include m.icon-hover(#3B5998);
                     }
            &--lblue{
               @include m.icon-hover(#00ACEE); 
            }
            &--pink{
                @include m.icon-hover(#C13584); 
            }
        }
        &-icon{
          width: 20px;
          height: 20px;
        }
    }
    &__bottom{
         @include m.typography(12, 1.8, 300, 'Montserrat');
         color: v.$paragraph-color; 
    }
 }
 