@use 'vars' as v;
@use 'extends';
@use 'mixins' as m;
@use 'fonts';
@use 'media';



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    min-height: 100vh;
    font-size: v.$main-font-size;
    font-family: v.$main-font-family;
    font-size: v.$main-font-size;
}
.container{
    max-width: v.$container-width;
    margin: 0 auto;
    width: 100%;
    
   @include m.respond-to(laptop){
    max-width: 970px;
    
   }
   @include m.respond-to(tablet){
    max-width: 750px;
    
   }
    
    
    }


.btn{
    @include m.button;
    @include m.typography(18, 1.6, 500, 'Montserrat', 18, 16, 16, 14);
    &--primary{
         @extend %btn-primary;
         margin-left: auto;  
    }
    &--pink{
        @include m.btn-unique(#F063B8, #fff, #EB4BAB);
     }
     &--violet{
         @include m.btn-unique(#9C69E2, #fff, #8A40EE);
         @include m.respond-to(tablet){
         display: none;
     }
     }   
     
         

}

.header{
    min-height: 100px;
    padding: 37px 0;
    margin-bottom: 100px;
   position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  
    @include m.respond-to(laptop){
        margin-bottom: 100px;
       
    }
    @include m.respond-to(tablet){
        margin-bottom: 80px;
         &__btn{
     display: none; 
  }
    }
  
.burger-toggle {
  display: none;
}
.burger {
    margin-left: auto;
  display: none; 
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 1001;

  span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #212353;
    border-radius: 2px;
    transition: all 0.3s;
  }
  @include m.respond-to(tablet){
    display: flex;
  }
}

.mobile-menu {
  
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;

  height: 60vh;
  background-color: #fff;
  display: flex;
 justify-content: center;
  align-items: center;
  transition: top 0.4s ease;
  z-index: 1000;
  

  &__list {
    
    list-style: none;
    text-align: center;

    li {
      
      margin: 20px 0;
      font-size: 24px;
      opacity: 0;
    transform: translateY(20px);
    transition: 0.4s;
      a {
        display: block;
        width: 100%;
        text-decoration: none;
         padding: 12px 80px;
        border-radius: 12px;
        transition: all 0.25s ease;

        color: #4B5D68;

        &:hover {

         background: #F6F0FD;
        color: #8A40EE;
        transform: scale(1.05);
          color: #8A40EE;
         
        }
    }
      
    }
  }
}

.burger-toggle:checked ~ .mobile-menu li {
  opacity: 1;
  transform: translateY(0);
}
.mobile-menu__list li:nth-child(1){ transition-delay: 0.1s; }
.mobile-menu__list li:nth-child(2){ transition-delay: 0.2s; }
.mobile-menu__list li:nth-child(3){ transition-delay: 0.3s; }
.mobile-menu__list li:nth-child(4){ transition-delay: 0.4s; }
/* Когда чекбокс активен – показываем мобильное меню */
.burger-toggle:checked ~ .mobile-menu {
  top: 0;
}

/* Анимация бургера при активном состоянии */
.burger-toggle:checked + .burger span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger-toggle:checked + .burger span:nth-child(2) {
  opacity: 0;
}

.burger-toggle:checked + .burger span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}
}
 
   

.header__logo img {
    display: block;
}
.flex-container{
    height: 100%;
    display: flex;
   align-items: center;
    
}

.nav{
    margin-left: 120px;
    @include m.respond-to(tablet){
        display: none;
    }

    
    &__list{
        font-weight: 500;
        display:flex;
        gap: 40px;
        list-style: none;
    }
    &__link{
        
        text-decoration: none;
        padding-left: 0;
        color: v.$main-text-color;
        &:hover{
            color: v.$links-color;
        }
    }
}

.hero{
    margin-bottom: 100px;
    @include m.respond-to(laptop){
        margin-bottom: 100px;
    }
    @include m.respond-to(tablet){
        margin-bottom: 80px;
    }
    
    &__inner{
    position: relative;
    display: flex;
    align-items: flex-end;
    gap: 30px;
    @include m.respond-to(laptop){
         gap: 20px;   
        }

    }
    &__content{
       max-width: 370px;
        padding-bottom: 30px;
        @include m.respond-to(laptop){
            padding-bottom: 10px;
            
        }
        @include m.respond-to(tablet){
            padding-bottom: 5px;
        }
        
    }
    &__heading{
        top: 0;
        position: absolute;
        max-width:600px;
        color: v.$heading-color;
        @include m.typography(80, 1, 700, 'Work Sans', 72, 64, 50, 48);
    }
    &__text{
        max-width: 370px;
        @include m.typography(18, 1.3, 500, 'Montserrat', 18, 15, 14, 12);
        margin-top: 50px;
        padding-bottom: 50px;
        color: v.$paragraph-color;
        @include m.respond-to(laptop){
            padding-bottom: 25px;
            width: 370px;
        }
        @include m.respond-to(tablet){
            padding-bottom: 10px;
        }
    }
    &__link{
        display: none;
        @include m.respond-to(tablet){
             display:flex;
  align-items:center;
  
  gap:10px;
  color: #212353;
  text-decoration: none;
 
  .link__svg{
        width: 20px;
        height: 14px;
        color: #8A40EE;
    
  }
            @include m.typography(16, 1.6, 700, 'Montserrat', 15, 14, 13, 12);
             &:hover{
                transform: rotate(5deg) translateY(-3px) scale(1.1);
  transition: transform 0.3s ease;
        }
    }
}
    &__image{
        display: flex;
        justify-content: flex-end;
         max-width: 770px;
   
    
    padding-top: 82px;
    @include m.respond-to(tablet){
        padding-bottom: 0;
    }
    

        img {
    max-width: 100%;
  height: auto;
}
    }
    

}
.intro{
    margin-bottom: 120px;
    @include m.respond-to(laptop){
        margin-bottom: 100px;
    }
    @include m.respond-to(tablet){
        margin-bottom: 60px;
    }
    &__inner{
        background-color: #FDE8F5;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding: 75px 70px;
       
    }
    &__image{
        max-width:400px;
        height: auto;
        width: 100%;
        img{
            width: 100%;
        }
    }

    &__heading{
        color: v.$heading-color;
        padding-bottom: 40px;
        @include m.typography (40, 1.3, 700, 'Work Sans', 36, 32, 28, 24);
    }
    &__text{
        color: v.$paragraph-color;
        @include m.typography (18, 1.6, 500, 'Montserrat', 16, 15, 14, 12);
        
    }
}
.features {
  padding: 120px 0;
}
.features__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.feature__card {
  position: relative;
}
.feature__card-image {
  position: absolute;
  left: -60px;
  top: 40px;
  z-index: 3;
}

.feature__card-image img {
  display: block;
  max-width: 100%;
  height: auto;
}
.feature__card-content {
     width: 230px;
  min-height: 276px;
  position: relative;

  margin: 50px 50px 50px 150px;

  border-radius: 40px;

  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}
.feature__card-content--first {
  background-image: url("../assets/img/feature-bg-image1.png");
  background-color: #eef6f8;
}

.feature__card-content--second {
  background-image: url("../assets/img/feature-bg-image2.png");
  background-color: #f6eef8;
}

.feature__card-content--third {
  background-image: url("../assets/img/feature-bg-image3.png");
  background-color: #f8eef1;
}

.feature__card-content--fourth {
  background-image: url("../assets/img/feature-bg-image4.png");
  background-color: #eef3f8;
}
.feature__card-heading {
  margin-bottom: 16px;
  font-size: 24px;
}

.feature__card-text {
  margin-bottom: 20px;
  line-height: 1.6;
}

.feature__card-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.testim{
    margin-bottom: 120px;
    @include m.respond-to(laptop){
        margin-bottom: 100px;
    }
      @include m.respond-to(tablet){
        margin-bottom: 80px;
      }
    &__inner{
        position: relative;
        padding: 80px 70px;
        min-height: 580px;
        background-color: #CCDDFF;
        border-radius: 50px;
        > * {
    position: relative;
    z-index: 1; 
  }
    @include m.respond-to(tablet){
        padding: 50px 70px;
    }
        &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: url('../assets/img/testimonials-bg-image.png') no-repeat center / cover;
    
  }
  
        
    }
    &__title{
        @include m.typography(40, 1.3, 700, 'Work Sans', 40, 32, 28, 24);
        color: #4B5D68;
        text-align: center;
        
    }
    &__wrapper{
        display: flex;
       gap: 100px;
         @include m.respond-to(tablet){
            flex-direction: column;
            gap: 30px;
         }
    }
    &__profile{
        display: flex;
        gap: 15px;
        padding: 50px 30px;
        border: 1px solid #9C69E2;
        border-radius: 50px;
        background-color: #fff;
        margin-top: 80px;
          @include m.respond-to(tablet){
            align-items: center;
            margin-top: 30px;
          }
        
        &-photo{
            width:90px;
            height: 90px;
            border-radius: 50%;
        }
        &-link{
            display:block;
            margin-top: 2px;
            margin-bottom: 20px;
            text-decoration: none;
            color: #9C69E2;
            @include m.typography(14, 1.6, 400, 'Montserrat', 14, 12, 12, 12);
        }
        &-heading{
             @include m.typography(16, 1.6, 500, 'Montserrat', 16, 14, 13, 12);
        }
        &-text{
            @include m.typography(16, 1.6, 400, 'Montserrat', 15, 14, 13, 12);
            color: v.$paragraph-color;
        }
        

    }
}
.footer{
    margin-bottom: 120px;
    @include m.respond-to(laptop){
        margin-bottom: 100px;
    }
      @include m.respond-to(tablet){
        margin-bottom: 80px;
      }
    &__cta{
        margin-bottom: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
          @include m.respond-to(tablet){
            flex-direction: column;
            margin-bottom: 80px;
            
          }
          

    }
    &__title{
         @include m.typography(40, 1.3, 700, 'Work Sans', 36, 32, 28, 24);
         color: v.$heading-color;   
         padding-bottom: 20px;
         @include m.respond-to(tablet){
            text-align: center;
            padding-bottom: 10px;
           }

           
    }
    &__text{
         @include m.typography(18, 1.6, 500, 'Montserrat', 16, 15, 14, 12);
         color: v.$paragraph-color;
         @include m.respond-to(tablet){
            text-align: center;
            padding-bottom: 20px;
           }
          }
          
    &__cta-buttons{
        display: flex;
        gap: 30px;
    }
    &__main{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        margin-bottom: 100px;
          @include m.respond-to(tablet){
            margin-bottom: 50px;
          }
      
        &-title{
             @include m.typography(16, 1.6, 600, 'Montserrat', 15, 14, 13, 12);
             color: v.$heading-color; 
             margin-bottom: 30px;


        }
    }
    &__info{
        &-heading{
            display: flex;
            gap: 20px;
            align-items: center;
            margin-bottom: 40px;
        }
        &-title{
            @include m.typography(20, 1.6, 600, 'Montserrat', 18, 16, 16, 14);
            color: v.$heading-color;
        }
        &-contacts{
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        &-address{
            font-style: normal;
            @include m.typography(16, 1.8, 500, 'Montserrat', 15, 14, 13, 12);
        }
        &-email, &-phone{
            text-decoration: none;
            color: v.$paragraph-color;
             &:hover{
                color: v.$links-color;
            }
        }
    }
    &__nav{
        &-list{
            display: flex;
            flex-direction: column;
            gap: 10px;
            list-style: none;
        }
        &-link{
            text-decoration: none;
            color: v.$paragraph-color;
            &:hover{
                color: v.$links-color;
            }
        }
    }
    &__social{
        &-list{
            list-style: none;
            display: flex;
            gap: 15px;
              @include m.respond-to(tablet){
                flex-direction: column;
                justify-content: space-between;
                padding-left: 30px;
              }
        }
       
        &-link{
            display: flex; 
            justify-content: center;
            align-items: center;
            border: 1px solid #d2d2d7;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            background-color: #d2d2d7;
            color: #fff;
            &--blue{
                @include m.icon-hover(#3B5998);
                     }
            &--lblue{
               @include m.icon-hover(#00ACEE); 
            }
            &--pink{
                @include m.icon-hover(#C13584); 
            }
              @include m.respond-to(tablet){
                width: 40px;
                height: 40px;
              }
        }
        &-icon{
          width: 20px;
          height: 20px;
        }
    }
    &__bottom{
         @include m.typography(12, 1.8, 300, 'Montserrat', 12, 12, 12, 12);
         color: v.$paragraph-color; 
           @include m.respond-to(tablet){
            text-align: center;
           }
    }
 }
 @media (max-width: 992px) {

  .features__grid {
    grid-template-columns: 1fr;
  }

}